<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的服务资源--蓝鲸配置平台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/static/assets/jquery-ui-1.11.0.custom/jquery-ui.css?version=20160314" rel="stylesheet">
    <link href="/static/assets/bootstrap-3.3.4/css/bootstrap.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="/static/assets/kendoui-2015.2.624/styles/kendo.common.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="/static/assets/kendoui-2015.2.624/styles/kendo.default.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="/static/assets/font-awesome/css/font-awesome.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="/static/css/AdminLTE.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="/static/css/skin-blue.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="/static/assets/mCustomScrollbar-3.0.9/jquery.mCustomScrollbar.css?version=20160314" rel="stylesheet">
    <link href="/static/assets/artDialog-6.0.4/css/ui-dialog.css?version=20160314" rel="stylesheet">
    <link href="/static/bk/css/bk_base.css?version=20160314" rel="stylesheet" type="text/css">
    <link href="/static/assets/select2-3.5.2/select2.css?version=20160314" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/assets/multiselect/jquery.multiselect.css?version=20160314" />
    <link rel="stylesheet" type="text/css" href="/static/assets/multiselect/jquery.multiselect.filter.css?version=20160314" />
    <link rel="stylesheet" type="text/css" href="/static/assets/selectmenu/jquery-ui.css?version=20160314" />
    <link rel="stylesheet" type="text/css" href="/static/assets/icheck-1.x/skins/all.css?version=20160314" />
    <link href="/static/css/index.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="/static/assets/intro/introjs.css?version=20160314" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js?version=20160314"></script>
    <script src="/static/js/respond.min.js?version=20160314"></script>
    <![endif]-->
    <script src="/static/assets/js/jquery-1.10.2.min.js?version=20160314"></script>
    <script src="/static/assets/bootstrap-3.3.4/js/bootstrap.min.js?version=20160314"></script>
    <script src="/static/assets/kendoui-2015.2.624/js/kendo.all.min.js?version=20160314"></script>
    <script src="/static/assets/artDialog-6.0.4/dist/dialog-min.js?version=20160314"></script>
    <script type='text/javascript'>
        (function(w){
            window.onerror = function(){return true;};            w.cookie = {
                get : function(name){
                    if(document.cookie.length>0){
                        name += '=';
                        var allCookie = document.cookie;
                        var startIndex = allCookie.indexOf(name);
                        if(startIndex > -1){
                            if(startIndex > 1){
                                name = '; '+name;
                                startIndex = allCookie.indexOf(name)+name.length;
                            }else{
                                startIndex = startIndex+name.length;
                            }
                        }else{
                            return '';
                        }

                        var endIndex = allCookie.indexOf(';', startIndex);
                        if(endIndex === -1){
                            endIndex = document.cookie.length;
                        }
                        var value = decodeURIComponent(allCookie.substring(startIndex, endIndex));
                        return value;
                    }

                    return '';
                },

                set : function(name, value, expires){
                    var exdate = new Date();
                    if(expires!=null){
                        exdate.setTime(exdate.getTime() + expires*1000);
                    }
                    document.cookie = name +'='+ encodeURIComponent(value) + (expires==null ? ';path=/' : ';expires='+exdate.toUTCString()+';path=/');
                }
            };

        })(window);


        $(document).ready(function(){
            $.ajaxSetup({
                beforeSend : function(xhr){
                    xhr.setRequestHeader('Token', cookie.get('token'));
                },
                complete:function(xhr,response)
                {
                    if(xhr.getResponseHeader('Timeout') == 'true')
                    {
                        window.location.href="/welcome/logout";
                        return;
                    }
                }

            });

            //鼠标点击存储cookie
            $('.c-sidebar-toggle').on('click',function(){
                var className = $('body').prop('class');
                var isCollapse = className.indexOf('sidebar-collapse') == -1 ? true:false;
                if(isCollapse){
                    cookie.set('isCollapse',1);
                }else{
                    cookie.set('isCollapse',0);
            }
            });

        });
    </script>
</head>

<body class="skin-blue sidebar-mini" id="index">
<div class="wrapper">
    <!-- 头部 -->
    <header class="main-header">
        <!-- 头部左侧Logo -->
        <a href="/" class="logo">
            <img src="/static/img/logo.png" alt="" height="35">
        </a>
        <!-- 头部右侧Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" title="收起" class="c-sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- 头部右侧 Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- 搜索 -->
                    <li class="hidden-sm hidden-xs pr50">
                        <form target='_self' action="/host/hostQuery" method='post' id="quick_search">
                            <div class="form-group has-feedback" id="speed_search_input">
                                <!-- <input class="form-control mt10" type="text" value="" placeholder="快速查询"> -->
                                <textarea class="search-textarea" placeholder="快速查询" id="search-textarea"></textarea>
                                <input type="hidden" id="IfInnerIPexact" value="">
                                <input type="hidden" id="IfOuterexact" value="">
                                <span class="glyphicon glyphicon-search form-control-feedback search-btn" id ="speed_search" aria-hidden="true"></span>
                            </div>
                        </form>
                    </li>
                    <!-- 帮助 -->
                    <!--                    <li>-->
                    <!--                        <a href="/welcome/help" class="c-nav-help">-->
                    <!--                            <i class="fa fa-question-circle mr5 f20"></i>-->
                    <!--                            <span>帮助</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!-- 帮助 -->
                    <li>
                        <a href="javascript:void(0);" class="c-nav-help dropdown-toggle" data-toggle="dropdown">
<!--                            <i class="fa fa-question-circle mr5 f20"></i>-->
                            <span class="question-icon mr5"></span>
                            <span>帮助 <i class='caret'></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li title="配置平台概念视频"><a id="help-btn" href="javascript:void(0);">概念视频</a></li>
                            <li title="将主机从配置平台移除"><a id="help-btn1" href="javascript:void(0);">主机移除</a></li>
                            <li title="将主机放入配置平台"><a id="help-btn2" href="javascript:void(0);">主机放入</a></li>
                            <li title="同一开发商下业务间转移主机"><a id="help-btn3" href="javascript:void(0);">转移主机</a></li>
                        </ul>
                    </li>
                    <!-- 业务 -->
                                                                                <li id="chooseBusiness" class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="first-letter mr5" title="bb">b</span>
                                <span class="nav-group-name">bb<i class='caret'></i></span>
                            </a>
                            <ul class="dropdown-menu business-menu">
                                                                    <li class="active"><a class="defaultApp" value="4816">bb<span class="text-warning">(0)</span></a></li>
                                                            </ul>
                                            </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- 左侧菜单 -->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- 菜单 -->
            <ul class="sidebar-menu">
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="/welcome/index"><i class="fa fa-dashboard"></i> <span>总览</span></a></li>
                <li id="hostmng" class=""><a href="/host/hostQuery"><i class="fa fa-desktop"></i> <span>主机管理</span></a></li>
                <li id="apptopo" class="">
                    <a href="javascript:void(0)"><i class="fa fa-database"></i> <span>拓扑配置</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li class="" ><a href="/topology/index"><i class="fa fa-sitemap"></i>树状视图</a></li>
                        <li class="" ><a href="/topology/topolist"><i class="fa fa-list-ul"></i>列表视图</a></li>
                    </ul>
                </li>
                <li id="process" class=""><a href="/process/index"><i class="fa fa-desktop"></i> <span>进程管理</span></a></li>
                <li class=""><a href="/app/index"><i class="fa fa-puzzle-piece"></i> <span>业务管理</span></a></li>
                <li id="hostdis" class=""><a href="/host/quickImport"><i class="fa fa-graduation-cap"></i> <span>快速分配</span></a></li>
                <!--              <li class="treeview ">
                    <a href="javascritp:void(0)"><i class="fa fa-graduation-cap"></i> <span>主机操作</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li style="display:none" class="treeview "><a href="/host/quickBuy"><i class="fa fa-circle-o"></i>一键购买</a></li>
                        <li class="treeview "><a href="/host/quickImport"><i class="fa fa-circle-o"></i>快速分配</a></li>
                    </ul>
                </li>　-->
            </ul>
        </section>
    </aside>
    <!-- 左侧菜单 结束 -->
    
     <!-- 主面板Content -->
        <div class="content-wrapper">
            <!-- 主面板 Header  -->
            <section class="content-header">
                <h1>我的服务资源</h1>
            </section>
            <!-- 主面板 Main-->
            <section class="content">
                <div class="row">
                    <!-- 业务数量 -->
                    <div class="col-md-4 col-xs-12">
                        <div class="small-box c-bg1">
                            <div class="div-img fl"><span class="today-icon icon1"></span></div>
                            <div class="div-text fl">
                                                                <p>集群数</p>
                                <h3>0</h3>
                                                            </div>
                        </div>
                    </div>
                    <!-- /业务数量 -->
                    <!-- 设备数量 -->
                    <div class="col-md-4 col-xs-12">
                        <div class="small-box c-bg2">
                            <div class="div-img fl"><span class="today-icon icon2"></span></div>
                            <div class="div-text fl">
                                <p>设备数</p>
                                <h3>0</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /设备数量 -->
                    <!-- 当前余额 -->
                    <div class="col-md-4 col-xs-12">
                        <div class="small-box c-bg3">
                            <div class="div-img fl"><span class="today-icon icon4"></span></div>
                            <div class="div-text fl">
                                <p>空闲设备</p>
                                <h3>0<span></span></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /当前余额 -->
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <!-- 主机月趋势 -->
                        <div class="c-host-trend k-content">
                            <div class="page-header">
                                <h4>云主机数近一周的趋势图 <small>bb</small></h4>
                            </div>
                            <div id="chostnumber" class="c-host-number" style="height:288px;"></div>
                        </div>
                        <!-- /主机月趋势 -->
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <!-- 主机过期分布图 -->
                        <div class="c-outdate-wrapper">
                        <div class="page-header">
                            <h4>主机过期分布图</h4>
                        </div>
                        <div id="chostdate" class="c-host-date" style="height:288px;"></div>
                        </div>
                        <!-- /主机过期分布图 -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- 主机分布图 -->
                        <div class="c-host-wapper">
                            <div class="page-header">
                                <h4>主机分布图</h4>
                            </div>
                            <div class="c-host-area" id="host-area">
                            </div>
                        </div>
                        <!-- /主机分布图 -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- 操作记录 -->
                        <ul class="c-host-opt">
                            <div class="page-header">
                                <h4>操作记录 <small><a href="/operationLog/">查看全部</a></small></h4>
                            </div>
                            <div id="opt_box" class="opt-box">
                            <ul class="king-timeline-simple">
                                                                <li class="info">
                                <div class="timeline-simple-wrap">
                                    <p class="info-title">1842605324 新增业务</p>
                                    <span class="timeline-simple-date">刚刚</span>
<!--                                    <p class="info-time"><small>--><!--</small></p>-->
                                            <p>业务名：[bb]</p>
<!--                                            <p>公网IP：<span class='info-text'>eip-61tn12av</span></p>-->
                                </div>
                                </li>
                                                                <li class="info">
                                <div class="timeline-simple-wrap">
                                    <p class="info-title">1842605324 新增集群</p>
                                    <span class="timeline-simple-date">刚刚</span>
<!--                                    <p class="info-time"><small>--><!--</small></p>-->
                                            <p>集群名[空闲机池]</p>
<!--                                            <p>公网IP：<span class='info-text'>eip-61tn12av</span></p>-->
                                </div>
                                </li>
                                                                <li class="info">
                                <div class="timeline-simple-wrap">
                                    <p class="info-title">1842605324 新增模块</p>
                                    <span class="timeline-simple-date">刚刚</span>
<!--                                    <p class="info-time"><small>--><!--</small></p>-->
                                            <p>模块名:[空闲机]</p>
<!--                                            <p>公网IP：<span class='info-text'>eip-61tn12av</span></p>-->
                                </div>
                                </li>
                                                            </ul>
                        </div>
                        <!-- /操作记录 -->
                    </div>
                </div>
            </section>
        </div>
        <div class="control-sidebar-bg"></div>
    </div>
        <!-- 项目js文件 -->
        <script src="/static/assets/map/raphael-min.js"></script>
        <script src="/static/assets/map/map.js"></script>
        <script src="/static/assets/mCustomScrollbar-3.0.9/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/static/js/app.min.js"></script>
        <script>
            CC.index.deadLineTime=[];
            CC.index.hostTrend={"categories":["2016-03-08","2016-03-09","2016-03-10","2016-03-11","2016-03-12","2016-03-13","2016-03-14"],"data":[0,0,0,0,0,0,0]};
            CC.index.hostMap=[];
            $(function(){
                 CC.index.init();
            })
        </script>
    <div class="none video-content">
        <div class="content">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="video-close"></span>
            <video  id="video" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
                    poster="/static/product/blueking/img/course/video.jpg"
                    data-setup="{}">
                <source src="/static/product/blueking/resource/cc.mp4" type='video/mp4' />
            </video>
        </div>
    </div>
    <div class="none video-content1">
        <div class="content">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="video-close1"></span>
            <video  id="video1" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
                    poster="/static/product/blueking/img/course/cc_remove.jpg"
                    data-setup="{}">
                <source src="/static/product/blueking/resource/cc_remove.mp4" type='video/mp4' />
            </video>
        </div>
    </div>
    <div class="none video-content2">
        <div class="content">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="video-close2"></span>
            <video  id="video2" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
                    poster="/static/product/blueking/img/course/cc_put.jpg"
                    data-setup="{}">
                <source src="/static/product/blueking/resource/cc_put.mp4" type='video/mp4' />
            </video>
        </div>
    </div>
    <div class="none video-content3">
        <div class="content">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="video-close3"></span>
            <video  id="video3" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
                    poster="/static/product/blueking/img/course/cc_mobile.jpg"
                    data-setup="{}">
                <source src="/static/product/blueking/resource/cc_mobile.mp4" type='video/mp4' />
            </video>
        </div>
    </div>
    <div class="control-sidebar-bg"></div>
    <link href="/static/assets/video/video-js.css" rel="stylesheet" type="text/css">
    <script src="/static/assets/video/video.js"></script>
    <script src="/static/js/common.js?version=20160314"></script>
    <!-- 项目需要引用的js文件 -->
    <script type='text/javascript'>

        $(document).ready(function(){
            $('.optgroup').click(function(){
                if($(this).next("li[class!='optgroup']").length >0){
                    return;
                }
                var company_id = $(this).attr('comid');
                var company_code = $(this).attr('comcode');
                var company_name = $(this).find('a span').text();
                console.log(company_name);
                var postdata = {company_id:company_id,company_code:company_code,company_name:company_name};
                $.ajax({
                    url: "/welcome/setDefaultCom",
                    type: "POST",
                    data:postdata,
                    dataType: "json",
                    success: function (response) {
                        window.location.reload();
                    }
                });
            })
            videojs.options.flash.swf = "/static/assets/video/video-js.swf";

            
                    });
    </script>
</body>
</html>