            <!-- 头部 -->
            <header class="main-header">
                <!-- 头部左侧Logo -->
                <a href="/" class="logo">
                    <img src="/static/img/logo.png" alt="" height="35">
                </a>
                <!-- 头部右侧Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!--<a href="#" title="收起" class="c-sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>-->
                    <!-- 头部右侧 Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- 搜索
                            <li class="hidden-sm hidden-xs pr50">
                                <form target='_self' action="/host/hostQuery" method='post' id="quick_search">
                                    <div class="form-group has-feedback" id="speed_search_input">
                                        <!-- <input class="form-control mt10" type="text" value="" placeholder="快速查询"> -->
                                        <!-- <textarea class="search-textarea" placeholder="快速查询" id="search-textarea"></textarea>
                                        <input type="hidden" id="IfInnerIPexact" value="">
                                        <input type="hidden" id="IfOuterexact" value="">
                                        <span class="glyphicon glyphicon-search form-control-feedback search-btn" id ="speed_search" aria-hidden="true"></span>
                                    </div>
                                </form>
                            </li> -->
                            <!-- 帮助
                            <li>
                                <a href="javascript:void(0);" class="c-nav-help dropdown-toggle" data-toggle="dropdown">
                                    <span class="question-icon mr5"></span>
                                    <span>帮助 <i class='caret'></i></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li title="配置平台概念视频"><a id="help-btn" href="javascript:void(0);">概念视频</a></li>
                                    <li title="将主机从配置平台移除"><a id="help-btn1" href="javascript:void(0);">主机移除</a></li>
                                    <li title="将主机放入配置平台"><a id="help-btn2" href="javascript:void(0);">主机放入</a></li>
                                    <li title="同一开发商下业务间转移主机"><a id="help-btn3" href="javascript:void(0);">转移主机</a></li>
                                </ul>
                            </li> -->
                            <!-- 业务 -->
                            <li id="chooseBusiness" class="dropdown">
                                {{with .defaultApp}}
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="first-letter mr5" title="{{$.defaultApp.ApplicationName}}">{{substr $.defaultApp.ApplicationName 0 1}}</span>
                                    <span class="nav-group-name">{{$.defaultApp.ApplicationName}}<i class='caret'></i></span>
                                </a>
                                <ul class="dropdown-menu business-menu">
                                    {{range $index, $elem := $.apps}}
                                    {{if eq $elem.ApplicationName $.defaultApp.ApplicationName}}
                                    <li class="active"><a class="defaultApp" value="{{$elem.Id}}">{{$elem.ApplicationName}}<span class="text-warning">(0)</span></a></li>
                                    {{else}}
                                    <li ><a class="defaultApp" value="{{$elem.Id}}">{{$elem.ApplicationName}}<span class="text-warning">(0)</span></a></li>
                                    {{end}}
                                    {{end}}
                                </ul>
                                {{end}}
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>