<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>业务管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="http://staticcc.o.qcloud.com/static/assets/jquery-ui-1.11.0.custom/jquery-ui.css?version=20160314" rel="stylesheet">
    <link href="http://staticcc.o.qcloud.com/static/assets/bootstrap-3.3.4/css/bootstrap.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="http://staticcc.o.qcloud.com/static/assets/kendoui-2015.2.624/styles/kendo.common.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="http://staticcc.o.qcloud.com/static/assets/kendoui-2015.2.624/styles/kendo.default.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="http://staticcc.o.qcloud.com/static/assets/font-awesome/css/font-awesome.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="http://staticcc.o.qcloud.com/static/css/AdminLTE.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="http://staticcc.o.qcloud.com/static/css/skin-blue.min.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="http://staticcc.o.qcloud.com/static/assets/mCustomScrollbar-3.0.9/jquery.mCustomScrollbar.css?version=20160314" rel="stylesheet">
    <link href="http://staticcc.o.qcloud.com/static/assets/artDialog-6.0.4/css/ui-dialog.css?version=20160314" rel="stylesheet">
    <link href="http://staticcc.o.qcloud.com/static/bk/css/bk_base.css?version=20160314" rel="stylesheet" type="text/css">
    <link href="http://staticcc.o.qcloud.com/static/assets/select2-3.5.2/select2.css?version=20160314" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://staticcc.o.qcloud.com/static/assets/multiselect/jquery.multiselect.css?version=20160314" />
    <link rel="stylesheet" type="text/css" href="http://staticcc.o.qcloud.com/static/assets/multiselect/jquery.multiselect.filter.css?version=20160314" />
    <link rel="stylesheet" type="text/css" href="http://staticcc.o.qcloud.com/static/assets/selectmenu/jquery-ui.css?version=20160314" />
    <link rel="stylesheet" type="text/css" href="http://staticcc.o.qcloud.com/static/assets/icheck-1.x/skins/all.css?version=20160314" />
    <link href="http://staticcc.o.qcloud.com/static/css/index.css?version=20160314" rel="stylesheet" type="text/css" />
    <link href="http://staticcc.o.qcloud.com/static/assets/intro/introjs.css?version=20160314" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="http://staticcc.o.qcloud.com/static/js/html5shiv.min.js?version=20160314"></script>
    <script src="http://staticcc.o.qcloud.com/static/js/respond.min.js?version=20160314"></script>
    <![endif]-->
    <script src="http://staticcc.o.qcloud.com/static/assets/js/jquery-1.10.2.min.js?version=20160314"></script>
    <script src="http://staticcc.o.qcloud.com/static/assets/bootstrap-3.3.4/js/bootstrap.min.js?version=20160314"></script>
    <script src="http://staticcc.o.qcloud.com/static/assets/kendoui-2015.2.624/js/kendo.all.min.js?version=20160314"></script>
    <script src="http://staticcc.o.qcloud.com/static/assets/artDialog-6.0.4/dist/dialog-min.js?version=20160314"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=52253497" charset="UTF-8"></script>
    <script type='text/javascript'>
        (function(w){
            window.onerror = function(){return true;};            w.cookie = {
                get : function(name){
                    if(document.cookie.length>0){
                        name += '=';
                        var allCookie = document.cookie;
                        var startIndex = allCookie.indexOf(name);
                        if(startIndex > -1){
                            if(startIndex > 1){
                                name = '; '+name;
                                startIndex = allCookie.indexOf(name)+name.length;
                            }else{
                                startIndex = startIndex+name.length;
                            }
                        }else{
                            return '';
                        }

                        var endIndex = allCookie.indexOf(';', startIndex);
                        if(endIndex === -1){
                            endIndex = document.cookie.length;
                        }
                        var value = decodeURIComponent(allCookie.substring(startIndex, endIndex));
                        return value;
                    }

                    return '';
                },

                set : function(name, value, expires){
                    var exdate = new Date();
                    if(expires!=null){
                        exdate.setTime(exdate.getTime() + expires*1000);
                    }
                    document.cookie = name +'='+ encodeURIComponent(value) + (expires==null ? ';path=/' : ';expires='+exdate.toUTCString()+';path=/');
                }
            };

        })(window);


        $(document).ready(function(){
            $.ajaxSetup({
                beforeSend : function(xhr){
                    xhr.setRequestHeader('Token', cookie.get('token'));
                },
                complete:function(xhr,response)
                {
                    if(xhr.getResponseHeader('Timeout') == 'true')
                    {
                        window.location.href="/welcome/logout";
                        return;
                    }
                }

            });

            //鼠标点击存储cookie
            $('.c-sidebar-toggle').on('click',function(){
                var className = $('body').prop('class');
                var isCollapse = className.indexOf('sidebar-collapse') == -1 ? true:false;
                if(isCollapse){
                    cookie.set('isCollapse',1);
                }else{
                    cookie.set('isCollapse',0);
            }
            });

        });
    </script>
</head>

<body class="skin-blue sidebar-mini" id="index">
<div class="wrapper">
    <!-- 头部 -->
    <header class="main-header">
        <!-- 头部左侧Logo -->
        <a href="/" class="logo">
            <img src="http://staticcc.o.qcloud.com/static/img/logo.png" alt="" height="35">
        </a>
        <!-- 头部右侧Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" title="收起" class="c-sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- 头部右侧 Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- 搜索 -->
                    <li class="hidden-sm hidden-xs pr50">
                        <form target='_self' action="/host/hostQuery" method='post' id="quick_search">
                            <div class="form-group has-feedback" id="speed_search_input">
                                <!-- <input class="form-control mt10" type="text" value="" placeholder="快速查询"> -->
                                <textarea class="search-textarea" placeholder="快速查询" id="search-textarea"></textarea>
                                <input type="hidden" id="IfInnerIPexact" value="">
                                <input type="hidden" id="IfOuterexact" value="">
                                <span class="glyphicon glyphicon-search form-control-feedback search-btn" id ="speed_search" aria-hidden="true"></span>
                            </div>
                        </form>
                    </li>
                    <!-- 帮助 -->
                    <!--                    <li>-->
                    <!--                        <a href="/welcome/help" class="c-nav-help">-->
                    <!--                            <i class="fa fa-question-circle mr5 f20"></i>-->
                    <!--                            <span>帮助</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!-- 帮助 -->
                    <li>
                        <a href="javascript:void(0);" class="c-nav-help dropdown-toggle" data-toggle="dropdown">
<!--                            <i class="fa fa-question-circle mr5 f20"></i>-->
                            <span class="question-icon mr5"></span>
                            <span>帮助 <i class='caret'></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li title="配置平台概念视频"><a id="help-btn" href="javascript:void(0);">概念视频</a></li>
                            <li title="将主机从配置平台移除"><a id="help-btn1" href="javascript:void(0);">主机移除</a></li>
                            <li title="将主机放入配置平台"><a id="help-btn2" href="javascript:void(0);">主机放入</a></li>
                            <li title="同一开发商下业务间转移主机"><a id="help-btn3" href="javascript:void(0);">转移主机</a></li>
                        </ul>
                    </li>
                    <!-- 业务 -->
                                                                                <li id="chooseBusiness" class="dropdown">
                                            </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- 左侧菜单 -->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- 菜单 -->
            <ul class="sidebar-menu">
                <!-- Optionally, you can add icons to the links -->
                <li class=""><a href="/welcome/index"><i class="fa fa-dashboard"></i> <span>总览</span></a></li>
                <li id="hostmng" class=""><a href="/host/hostQuery"><i class="fa fa-desktop"></i> <span>主机管理</span></a></li>
                <li id="apptopo" class="">
                    <a href="javascript:void(0)"><i class="fa fa-database"></i> <span>拓扑配置</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li class="" ><a href="/topology/index"><i class="fa fa-sitemap"></i>树状视图</a></li>
                        <li class="" ><a href="/topology/topolist"><i class="fa fa-list-ul"></i>列表视图</a></li>
                    </ul>
                </li>
                <li id="process" class=""><a href="/process/index"><i class="fa fa-desktop"></i> <span>进程管理</span></a></li>
                <li class="active"><a href="/app/index"><i class="fa fa-puzzle-piece"></i> <span>业务管理</span></a></li>
                <li id="hostdis" class=""><a href="/host/quickImport"><i class="fa fa-graduation-cap"></i> <span>快速分配</span></a></li>
                <!--              <li class="treeview ">
                    <a href="javascritp:void(0)"><i class="fa fa-graduation-cap"></i> <span>主机操作</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li style="display:none" class="treeview "><a href="/host/quickBuy"><i class="fa fa-circle-o"></i>一键购买</a></li>
                        <li class="treeview "><a href="/host/quickImport"><i class="fa fa-circle-o"></i>快速分配</a></li>
                    </ul>
                </li>　-->
            </ul>
        </section>
    </aside>
    <!-- 左侧菜单 结束 -->
    <!-- 主面板Content -->
<div class="content-wrapper">
    <div class="no-host-content">
        <img style="height:201px;" src="http://staticcc.o.qcloud.com/static/img/expre_403.png" style="height:201px;">
        <h4 class="pt15">对不起，您当前没有可操作的业务，您可尝试如下操作</h4>
        <ul class="pt15" style="width:300px;">
                            <li class="text-left">点此
                    <div id="home_creat_one" style="display:inline-block;">
                        <a href="/app/newapp" id="home_creat_one">新建业务</a>
                                        </div>
                </li>
                        <li class="text-left">联系您公司已有权限的同事为您开通权限</li>
        </ul>
    </div>
</div>
<div class="control-sidebar-bg"></div>
</div>

<!-- 导入腾讯云项目 模态框 -->
<div class="modal fade tencent-project " tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content c-edit-all import-qcloup">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">腾讯云项目</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hovered table-striped">
                    <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>主机个数</th>
                    </tr>
                    </thead>
                    <tbody>
                                        </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="not-import-content">
                    <div class="text-left">
                    <span class="warning-icon"></span>
                    <span class="warning-text"> 本次放弃导入，后续仍可以通过<a href="/app/newapp">新建业务</a>来创建项目，是否继续？</span>
                </div></div>
                    <button type="button" class="btn btn-default not-import no-href" >不导入</button>
                <button type="button" class="btn btn-default  sure-not-import" style="display:none">不导入</button>
                <button type="button" class="btn btn-success want-import">导入</button>
            </div>
        </div>
    </div>
</div>

<script src="http://staticcc.o.qcloud.com/static/assets/intro/intro.js?version=20160314"></script>
<script src="http://staticcc.o.qcloud.com/static/assets/mCustomScrollbar-3.0.9/jquery.mCustomScrollbar.concat.min.js?version=20160314"></script>
<script type='text/javascript'>
    $(document).ready(function(){
        
        $('.import-qcloup').find('.modal-body').mCustomScrollbar({
            setHeight:300,
            theme: "dark-thin" //设置风格
        });
        $('.add-porject').on("click",function (){
            $('.introjs-button.introjs-skipbutton').trigger("click");
        });


        // 不导入项目时提示
        $('.not-import.no-href').click(function (){
            $('.modal-title').text('确认');
            $('.modal-body').hide();
            $('.not-import-content').show();
            $('.not-import').hide();
            $('.sure-not-import').show();

            $('.want-import').html('导入').removeClass('want-import').addClass('continue-import');
            $('.continue-import').click(function (){
                $('.continue-import').addClass('want-import').removeClass('continue-import').html('导入');
                $('.modal-body').show();
                $('.not-import-content').hide();
                $('.not-import').show();
                $('.sure-not-import').hide();
            })
        })

        $('.modal').on('hidden.bs.modal', function () {
            $('.modal-body').show();
            $('.not-import-content').hide();
            $('.modal-title').text('腾讯云项目');
            $('.not-import').show();
            $('.sure-not-import').hide();
        })
        $('.sure-not-import').on("click",function (){
            $('.modal').modal('hide');
            })

        $('.want-import').on("click",function (){
//            if($(this).hasClass('continue-import')) {
//                return false;
//            }
           $('.modal').modal('hide')
            var d = dialog({
                content: '<div class="c-dialogdiv2"><img class="c-dialogimg-loading" src="http://staticcc.o.qcloud.com/static/img/loading_2_24x24.gif"></img>处理中，请稍候...</div>'
            });
            d.showModal();
            //发送请求数据到后台
            $.post("/app/sycProject",
                {}
                ,function(result) {
                    rere = $.parseJSON(result);
                    console.log(rere);
                    if(rere.success == false)
                    {
                        var d = dialog({
                            title:'错误',
                            width:300,
                            okValue:"确定",
                            ok:function(){},
                            content: '<div class="c-dialogdiv"><i class="c-dialogimg-failure"></i>同步失败</div>'
                        });
                        d.showModal();
                        return;
                    }
                    else
                    {
                        setTimeout(function(){window.location.href='/app/index';},1000);
                        return;
                    }
                });
        });


    });
</script>    <div class="none video-content">
        <div class="content">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="video-close"></span>
            <video  id="video" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
                    poster="http://bk.tencent.com/console/static/product/blueking/img/course/video.jpg"
                    data-setup="{}">
                <source src="http://bk.tencent.com/console/static/product/blueking/resource/cc.mp4" type='video/mp4' />
            </video>
        </div>
    </div>
    <div class="none video-content1">
        <div class="content">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="video-close1"></span>
            <video  id="video1" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
                    poster="http://bk.tencent.com/console/static/product/blueking/img/course/cc_remove.jpg"
                    data-setup="{}">
                <source src="http://bk.tencent.com/console/static/product/blueking/resource/cc_remove.mp4" type='video/mp4' />
            </video>
        </div>
    </div>
    <div class="none video-content2">
        <div class="content">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="video-close2"></span>
            <video  id="video2" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
                    poster="http://bk.tencent.com/console/static/product/blueking/img/course/cc_put.jpg"
                    data-setup="{}">
                <source src="http://bk.tencent.com/console/static/product/blueking/resource/cc_put.mp4" type='video/mp4' />
            </video>
        </div>
    </div>
    <div class="none video-content3">
        <div class="content">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="video-close3"></span>
            <video  id="video3" class="video-js vjs-default-skin" controls preload="none" width="800" height="600"
                    poster="http://bk.tencent.com/console/static/product/blueking/img/course/cc_mobile.jpg"
                    data-setup="{}">
                <source src="http://bk.tencent.com/console/static/product/blueking/resource/cc_mobile.mp4" type='video/mp4' />
            </video>
        </div>
    </div>
    <div class="control-sidebar-bg"></div>
    </div>
    <link href="http://staticcc.o.qcloud.com/static/assets/video/video-js.css" rel="stylesheet" type="text/css">
    <script src="http://staticcc.o.qcloud.com/static/assets/video/video.js"></script>
    </script>
    <script src="http://staticcc.o.qcloud.com/static/js/common.js?version=20160314"></script>
    <!-- 项目需要引用的js文件 -->
    <script type='text/javascript'>

        $(document).ready(function(){
            $('.optgroup').click(function(){
                if($(this).next("li[class!='optgroup']").length >0){
                    return;
                }
                var company_id = $(this).attr('comid');
                var company_code = $(this).attr('comcode');
                var company_name = $(this).find('a span').text();
                console.log(company_name);
                var postdata = {company_id:company_id,company_code:company_code,company_name:company_name};
                $.ajax({
                    url: "/welcome/setDefaultCom",
                    type: "POST",
                    data:postdata,
                    dataType: "json",
                    success: function (response) {
                        window.location.reload();
                    }
                });
            })
            videojs.options.flash.swf = "http://staticcc.o.qcloud.com/static/assets/video/video-js.swf";

                        $('.sidebar').find('li').divLoad('show');
            
                    });
    </script>
    <script type="text/javascript" src="http://o.qcloud.com/static_api/analysis_qcloud.js" charset="UTF-8"></script>
</body>
</html>